
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');


 body {
    font-family: 'Jost', sans-serif;
    
 }

 :root {
    --primary-color: #37517e;
    --secondary-color: #47B2E4;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
  }
              /* Universal css */

    .primary-bg{
        background-color: var(--primary-color);
    }
    .get-btn-1  {
        background: transparent;
        border: 2px solid var(--secondary-color);
        border-radius: 35px;
   
    }
    .custom-btn-2 {
        background: transparent;
        border: 2px solid var(--secondary-color);
        border-radius: 5px;
        padding-inline: 25px;
        color: var(--secondary-color);
    }

    .custom-btn-2:hover{
        background-color: var(--secondary-color);
        color: white;
    }
    .get-btn-1:hover{
        background-color: var(--secondary-color);
        color: white;
    }
    .secondary-text-color{
        color: #ABB9CB;
    }
    .primary-text-color{
        color: var(--primary-color);
    };

      /* Navbar */

  .nav-link {
    color: rgb(255, 255, 255) }
    .nav-link:hover{
        color:  var(--secondary-color)
    }
    
    .padding a{
        padding-inline: 15px !important;
        font-size: 1.1rem;
    }


    /* Watch Icon (hero section) */
    
    .bi-play-circle:hover{
        color: var(--secondary-color);
        
    }
    .icon-25px{
        font-size: 25px;
        cursor: pointer;
    }
    
    /* Client section */

    .client img {
        transition:transform .3s ease;
    } 
    .client img:hover {
        transform: scale(1.2);
    }
    
     /* Title decoration */


    .title h1 {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            color: #37517e;
            margin-top: 50px;
        }
      
      .title h1:before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
    }
      .title h1:after{
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #47b2e4;
        bottom: 0;
        left: calc(50% - 20px);
    }
      